* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  text-align: center;
}

@media (min-width:320px) {

  .app_wrapper {
    width: 320px;
    padding-top: 25px;
    margin: 0 auto;
  }

  .isLoading {
    width: 320px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin: 0 auto;
    font-size: 22px;
    border-bottom: 2px solid black;
  }

  .main_title {
    width: 125px;
    margin:  0 auto;
    display: block;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
  }

  .input_wrapper{
    width: 280px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
  }

  .input_post{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
  }

  .input_btn{
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 6px;
  }
  .post_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .post_id{
    width: 100px;
    margin-right:  auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    font-weight: 300;
   
  }

  .post_title {
    font-size: 18px;
    padding-bottom: 10px;
    text-decoration: underline;
    font-weight: 300;
  }

  .post_text {
    font-size: 16px;
    font-weight: 300;
  }

}